<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title> Products Page</title>
      <div th:replace="/fragments/productstyle :: product-style"></div>
   </head>

   <body>

      <!-- Nav Bar Area -->
      <div id="productpage-sec">
         <div th:replace="fragments/navbar :: navlinks"></div>
      </div>

      <!-- Products Section -->
      <div class="product-sec">
         <div class="row">
            <div class="card-deck">
               <div th:each="product:${products}" class="card">
                  <img th:src="@{${product.image}}" class="card-img-top" alt="woman holding round vase">
                  <div class="card-body">
                     <h5 th:text="${product.name}" class="card-title" ></h5>
                     <p th:text="${product.description}" class="card-text" ></p>
                     <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                     </div>
                     <div>
                        <p th:text="${product.price}" id="price-tag" ></p>
                     </div>
                  </div>
               </div>
         </div>
         </div>


      <!-- Fragments Footer -->
      <div th:replace="/fragments/footer :: footer-area"></div>
   </body>
</html>