<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title> Products Page</title>
  <div th:replace="/fragments/productstyle :: product-style"></div>
</head>

<body>
  <!-- Nav Bar Area -->
  <div id="productpage-sec">
    <div th:replace="fragments/navbar :: navlinks"></div>
  </div>

  <!-- Products Title Section  -->
  <section class="product-about">
    <div class="container product-container" id="product-area">
      <div class="row">
        <div class="col-sm-12">
          <h2> Produits</h2>
          <h3> We Carefully Curate These Seasonal Pieces.</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="product-row">
    <div class="product-sec">
       <div class="row">
          <div class="col-sm-4">
             <div class="vase-1">
               <div class="vase-hover"><a href="#">
                <img src="images/round-vase.jpg">
               </div></a>
                <h3 class="vase-title">$2 - Ellie Vase</h3>
             </div>
          </div>
          <div class="col-sm-4">
             <div class="vase-1">
              <div class="vase-hover"><a href="#">
                <img src="images/donut-vase.jpg">
              </div></a>
                <h3 class="vase-title">$2 - Ellie Vase</h3>
             </div>
          </div>
          <div class="col-sm-4">
            <div class="vase-1">
             <div class="vase-hover"><a href="#">
               <img src="images/lavender-vase.jpg">
             </div></a>
               <h3 class="vase-title">$2 - Ellie Vase</h3>
            </div>
         </div>
       </div>

       <div class="product-sec">
         <div class="row">
            <div class="col-sm-4">
               <div class="vase-1">
                 <div class="vase-hover"><a href="#">
                  <img src="images/pink-vase.jpg">
                 </div></a>
                  <h3 class="vase-title">$2 - Ellie Vase</h3>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="vase-1">
                <div class="vase-hover"><a href="#">
                  <img src="images/ribbed-vase.jpg">
                </div></a>
                  <h3 class="vase-title">$2 - Ellie Vase</h3>
               </div>
            </div>
            <div class="col-sm-4">
              <div class="vase-1">
               <div class="vase-hover"><a href="#">
                 <img src="images/duo-vase.jpg">
               </div></a>
                 <h3 class="vase-title">$2 - Ellie Vase</h3>
              </div>
           </div>
         </div>
      </div>

    </div>
 </section>

 
<!-- Fragments Footer -->
  <div th:replace="/fragments/footer :: footer-area"></div>
</body>

</html>