<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title> Maison About Page</title>
    <div th:replace="/fragments/headlinks :: head-styles"></div>
 </head>

 <body>
    <div class="container-home" id="homepage-sec">
       
       <!-- Navbar/Nav Links -->
       <div th:replace="fragments/navbar :: navlinks"></div>
      
       <div class="container-headline">
          <div class="row" id="maison-container">
             <div class="col-md-12">
                 <div id="maison-titles">
                 <h1 id = "maison-headline"> About Us</h1>
                 </div>
                 </div>
             </div>
          </div>
       </div>
    </div>
    <!-- About Section  -->
    <section class="section-about">
       <div class="container about-container" id="about-area">
          <div class="row">
             <div class="col-sm-12">
                <h2> A Tiny team With Mighty Dreams</h2>
                <p class="content-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
                <p class="content-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="content-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>

                <img src="images/team-photo.jpg" alt="diverse group of women" height="500">
             </div>
          </div>
       </div>
    </section>
    
      <!-- Fragments Footer Section -->
      <div th:replace="/fragments/footer :: footer-area"></div>
    
 </body>
</html>