<div th:fragment="navlinks">
    <ul class="nav justify-content-center">
        <li class="nav-item">
           <a class="nav-link active" th:href="@{/}">HOME</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" th:href="@{/about}">ABOUT</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#activities-row">PRODUITS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/blog}"> LE BLOG</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" th:href="@{/blog}">LA GALERIE</a>
       </li>
        <li class="nav-item">
           <a class="nav-link" href="#contact-area">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-area">LOGIN</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="#contact-area">SIGN UP</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="contact-area"><i class="fas fa-shopping-cart"></i></a>
       </li>
     </ul>